<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      {{#if styles}}
          {{#each styles}}
              <link href="{{.}}" rel="stylesheet">
          {{/each}}
      {{/if}}
      {{#if service}}
          <script>
              window.expanse = {
                  config: '{{service}}'
              }
          </script>
      {{/if}}
  </head>
  <body>
    {{{body}}}
    {{#if scripts}}
        {{#each scripts}}
            <script src="{{.}}"></script>
        {{/each}}
    {{/if}}
  </body>
</html>
